<!DOCTYPE html>
<html lang="en">
<head>
  <title>Claim Checker Interface A</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
  <script src="https://use.fontawesome.com/6f35c618a4.js"></script>
  <script type="text/javascript"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css">

  <script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
  <script>
  $(document).ready(function(){
    $(function(){
      $("#mytable").tablesorter();
            });
          });
  </script>


<style>
  .affix {
      top: 0;
      right: 450px;
      width: 50%;
      z-index: 1;
  }

  .affix + .container {
      padding-top: 70px;
  }

  /*This is just placeholder CSS. Ideally, the active button should look better than this.
  This is just version 1.0 of how an active button would be different from other buttons*/
  .btn-active {
    background-color: yellow;
  }
  </style>


</head>
<body>

<header>
<nav>
<a href="/#"><i class="fa fa-home" aria-hidden="true" style="color:#BF5700"></i>&nbsp;Home</a>
<a href="/about/"><i class="fa fa-info-circle" aria-hidden="true" style="color:#BF5700"></i>&nbsp;About</a>
</nav>
</header>
<h1>Claim Checker. This is interface A</h1>
<h2 style="position: relative; color: #BF5700; text-align: center; margin-top: 50px; ">Claim: "{{claim}}"</h2>
<p style="position: relative; color: #BF5700; text-align: center; margin-top: 50px; ">(Click or hover over <i class="glyphicon glyphicon-question-sign"></i> for help )</p>

<div class="container">

<h2 style="position: relative; color: #BF5700; text-align: center; margin-top: 50px; ">Relevant Articles <a href="#" title="Relevant Articles" data-toggle="popover" data-trigger="focus hover" data-content="We put the claim into Google to find these articles"><i class="glyphicon glyphicon-question-sign"></i></a> </h2>
  <table class="table" style="margin-top: 50px" id="mytable">
    <thead>
      <tr>
        <th class="col-md-1" style="color: #BF5700; text-align: center">Source <a href="#" title="Source" data-toggle="popover" data-trigger="focus hover" data-content="The website that publishes the article"><i class="glyphicon glyphicon-question-sign"></i></a> </th>
        <th class="col-md-3" style="color: #BF5700; text-align: center">Headline</th>
      </tr>
    </thead>
    <tbody>
        {% for i  in range(0,n) %}

      <tr class="accordion-toggle" data-toggle="collapse" data-target="#accordion" class="clickable">
        <td style="width:20%; text-align: center">
          <a href="/source_page/?source={{sources[i]}}">{{ sources[i] }}</a>
        </td>
        <td style="text-align: center">  
          <a href={{urls[i]}}> {{ headlines[i] }} </a> 
        </td>
      </tr>
       <tr>
        <td colspan="5">
        <div id="accordion" class="collapse">
          <iframe src="{{urls[i]}}"></iframe>
          </td>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


<br>
<br>


<form action="/#">
    <div class="buttons">
        <button class="submitter">Check another claim</button>
    </div>
</form>



</div>



<footer>
  <p>This tool is a research prototype and is provided without warranty.</p>
</footer>





<script>

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    $('.progress').popover({
      html: true,
      content: function() {
        return
      }
    })
});



function pad(num, size) {
    var s = "000000000" + num;
    return s.substr(s.length-size);
}

// fix stance sort order
for (i = 0; i < n; i++) {
  ts = document.getElementById("textstance" + i);
  ts.innerHTML = pad(parseInt(ts.innerHTML), 5);
}


</script>

</body>
</html>